/***************************************************
** Generic settings
****************************************************/

body {
    margin: 0;
}

html, body, .container {
    height: 100%
}

input, button, div {
    box-sizing: border-box;
    font-size: 16px;
}

a {
    text-decoration: none;
}

/***************************************************
** Font & color settings
****************************************************/

body, input, button {
    font-family: 'Roboto', 'Open Sans', arial, sans-serif;
}

.form-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;
}

.form-message-error {
    background-color: #d9534f;
    color: #fff;
}

.form-message-info {
    background-color: #5cb85c;
    color: #fff;
}

.form-input > input {
    border: none;
    width: 14em;
    font-size: 15px;
}

.form-button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
}

.form-forgot-pwd-link {
    font-size: 13px;
}

/***************************************************
** Positioning settings
****************************************************/

.container, .container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container * {
    flex-shrink: 0;
}

.container, .form-user-image, .form-body {
    flex-direction: column;
}

.form-user-image {
    width: 96px;
    height: 96px;
    border: none;
    border-radius: 48px;
    z-index: 1;
}

.form-user-image-svg {
    width: 64px;
    height: 64px;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -62px;
    border-radius: 4px;
}

.form-head {
    padding-top: 62px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.form-head, .form-input, .form-message, .form-foot {
    text-align: center;
    width: 100%;
}

.form-title, .form-message-text {
    width: 100%;
}

.form-body {
    margin: 20px 0;
}

.form-message {
    margin: 10px 0;
}

.form-input > input, .form-input-img, .form-forgot-pwd-link, .form-message {
    padding: 10px;
}

.form-button {
    padding: 10px 20px;
}

.form-input, .form-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-input-img-svg {
    width: 22px;
    height: 22px;
}

.form-text {
    margin-top: 0;
}

.form-button {
    cursor: pointer;
}

.form-foot {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/***************************************************
** Dynamic settings
****************************************************/

.hidden {
    display: none !important;
}